.review__card{
  margin: 0 50px 0 0;

}
.review__card--quote{
  background-color: #191d2b;
  padding: 30px;
  border-left: 5px solid #2e344e;
  margin-bottom: 40px;
  position: relative;
  &:after{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid #191d2b;
    position: absolute;
    left: 15px;
    bottom: -20px;
  }
}
.review__card--author{
  h3{
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
  }
  span{
    font-size: 13px;
    letter-spacing: 1px;
  }
}