.header{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background: #191d2b;
    border-right: 1px solid #2e344e;
    padding:20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    .header__head{
        border-bottom: 1px solid #2e344e;
        padding: 20px;
        text-align: center;
    }
}