.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;

    a{
        display: block;
        color: #747da2;
        font-size: 14px;
        letter-spacing: 2px;
        transition: all 300ms ease-in-out;
        &:hover{
            text-decoration-color: #fff;
        }
    }
}