*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #a4acc4;
  background-color: #10121B;
  padding-left: 300px;
  text-transform: lowercase;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #2e344e;
}

::selection {
  color: #fff;
  background: #2e344e
}

/*Grid*/

.container{
  max-width: 1000px;
  margin: auto;
}
@media all and (min-width: 1440px) {
  .container{
    max-width: 1200px;
    margin: auto;
  }
}
.flex_row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.padding-top{
  padding-top: 120px;
}
.margin-bottom{
  margin-bottom: 120px;
}